html {
    background-color: goldenrod;
}

body {
    width: 75%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: honeydew;
}

#image_burger {
    display: block;
    margin: auto
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    margin: 50px
}

.burgerAvailable {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: lightgreen;
    border: none;t
}

.burgerAvailable:hover {
    background-color: lightgreen;
}

.burgerEaten {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: lightsalmon;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: orange;
}

.addBurgerButton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding 10px;
    background-color: orange;
    border: none;
}

.addBurgerButton:active {
    background-color: orange;
}

.burgerFooter {
    background-color: orange;
    padding: 20px 0;
}